numpy==1.22.3
matplotlib==3.5.1 
python-time==0.3.0
threaded==4.1.0
DateTime==4.4
scipy==1.8.0 
tk==0.1.0
scikit-learn==1.0.2
glob2==0.7
pyserial==3.5b0
opencv-python==4.5.5.64
seabreeze==2.0.2
Pillow==9.2.0
spectral==0.22.4
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
customtkinter==5.0.5
spyndex==0.3.0
tifffile==2023.1.23.1
xarray==2023.1.0
scikit-image==0.19.3
