numpy
matplotlib
python-time
threaded
DateTime
scipy
tk
scikit-learn
glob2
pyserial
opencv-python
seabreeze
Pillow
spectral
Sphinx
sphinx-rtd-theme
src/
src/pattern_bases
src/reconstruction_methods
src/spectrometer_bridges
