[MASTER]
init-hook='import sys; sys.path.append(".")'
disable=
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    C0301, # Line too long
    R0801, # Similar lines in 2 files
    R0903, # too-few-public-methods
[LOGGING]
logging-format-style=old
